nav {
  background-color: #1C1C1C;
  height: 82px;
  font-family: 'Roboto', sans-serif;
  color: #969DA2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  font-size: 14px;
  line-height: 17px;
  position: relative;
  z-index: 2;
}

nav .rewind {
  margin-left: 28px;
  height: 16px;
  cursor: pointer;
}

nav .play {
  margin-left: 24px;
  height: 24px;
  cursor: pointer;
}

nav .play-icon:hover path,
nav .play-icon:hover rect,
nav .rewind-icon:hover path,
nav .rewind-icon:hover rect,
nav .pause-icon:hover path,
nav .pause-icon:hover rect {
  fill: #566574;
}

nav .pause-icon {
  display: none;
}

nav .controls {
  display: flex;
  align-items: center;
}



.loading {
  display: flex;
  justify-content: center;
  margin-top: 104px;
  position: relative;
  z-index: 1;
}

.loading .progress {
  transition: width 0.3s linear;
}

.notes {
  display: flex;
  
  opacity: 0;
  transition: opacity 3s ease;
  justify-content: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin-top: 104px;

}

.notes .note {
  height: 220px;
}





.notes .note > div {

  height: 100%;
  width: 32px;
  border-radius: 16px;
  background-color: #D8D8D8;
  color: #541F5D;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  box-sizing: border-box;
  padding: 5px 0;
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.16);

}

.notes .note:hover div {
  background-color: #FF6545;
  color: #fff;

  
}

.notes .note.key {
  height: 300px;

}

.notes .note.key > div {
  background-color: #ECDCCA;
}

.notes .note.key:hover > div {
  background-color: #FF6545;
  color: #fff;
}

.notes .note:not(:first-child) > div {
  margin-left: 8px;
}

.notes .note:not(:last-child) > div {
  margin-right: 8px;
}

.notes .note span {
  font-size: 0.7em;
}






.INST .GTR {
  background-image: url(/source/GTRPREON.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 5vw;
  height: 5vw;
  bottom: 10px;
  left: 10px;
  z-index: 3;
  
  position: fixed;
  cursor: pointer;
}

.INST .GTR.rock {
  background-image: url(/source/GTRPREOFF.svg);
  background-position: 0 100%;
}

.INST .GTR.rock:before {
  
  color: #FFF;
}

.INST .GTR.rock:after {
  
  color: #C17CA4;
}

.INST .GTR:before, .INST .GTR:after {
  

  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  display: block;
  position: relative;
  transition: color 0.3s ease;
}





/*SAX*/



.INST .SAX {
  background-image: url(/source/SAXPREOFF.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 5vw;
  height: 5vw;
  bottom: 10px;
  left: 120px;
  z-index: 3;
  
  position: fixed;
  cursor: pointer;
}


.INST .SAX.rock {
  background-image: url(/source/SAXPREON.svg);
  background-position: 0 100%;
}

.INST .SAX.rock:before {
  
  color: #FFF;
}

.INST .SAX.rock:after {
  
  color: #C17CA4;
}

.INST .SAX:before, .INST .SAX:after {
  

  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  display: block;
  position: relative;
  transition: color 0.3s ease;
}




/*piano*/

.INST .PIANO {
  background-image: url(/source/PIANOPREOFF.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 5vw;
  height: 5vw;
  bottom: 10px;
  left: 230px;
  z-index: 3;
  
  position: fixed;
  cursor: pointer;
}



.INST .PIANO.rock {
  background-image: url(/source/PIANOPREON.svg);
  background-position: 0 100%;
}

.INST .PIANO.rock:before {
  
  color: #FFF;
}

.INST .PIANO.rock:after {
  
  color: #C17CA4;
}

.INST .PIANO:before, .INST .PIANO:after {
  

  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  display: block;
  position: relative;
  transition: color 0.3s ease;
}
















body {
  background-image: url('/source/wallpaper.svg'), linear-gradient(-180deg, #242150 5%, #61380B 91%);
  background-size: cover;
  background-position: center;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

body * {
  user-select: none;
}

html,
body {
  height: 100%;
  min-width: 726px;
}
